<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://m3h-beerkn-functionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a474a5eb-5755-4db1-be27-7d0645e81929/resourcegroups/M3Harbor/providers/Microsoft.Web/sites/m3h-beerkn-functionapp</ResourceId>
    <UserName>$m3h-beerkn-functionapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://m3h-beerkn-functionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>