name: Build and deploy dotnet to Azure Function App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Publish
        run: dotnet publish --configuration Release --output ./publish

      - name: Deploy to Function App
        uses: Azure/functions-action@v1
        with:
          app-name: 'nomikai-funcapp'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_12B4A53F9AE14507B5338BCEF33BD5C9 }}
          package: './publish'
